<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <link href="../resources/css/my_style.css" rel="stylesheet">
  

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="mypage.html">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../signup-modal/login.html">Sign Up</a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <a href="https://github.com/damc8609">
        <img src="../resources/img/github.jpg" alt="Github Account" height="30px">
      </a>
      </div>
      </div>
    </nav>


    <br><br>

    <h2>Projects</h2>
    
    <div class="card">
      <a href="https://github.com/CSCI-3308-CU-Boulder/DanielMcCall_015_Labs">
      <div class="card-header">
        <img src="../resources/img/csci3308.png" height="200px">
      </div>
      <div class="card-body">
        <h3>CSCI 3308 Labs</h3>
        <p class="main">Current work involving learning shell scripting, HTML/CSS, and eventually
          JavaScript, SQL, and more.
        </p>
      </div>
    </a>
    </div>
    <br><br>

    <div class="card">
      <a href="https://drive.google.com/drive/folders/1GE8hKVtEq6lM13OtoWlbaaQdxfi9o4PI?usp=sharing">
      <div class="card-header">
        <img src="../resources/img/3308_project.png" height = "200px">
      </div>
      <div class="card-body">
        <h3>CSCI 3308 Project</h3>
        <p class="main">All information and progress on Additive Philosophy's productivity and calendar 
          based study app, Cram Companion.
        </p>
      </div>
    </a>
    </div>


    <br><br>

    <div class="card">
      <a href="https://drive.google.com/drive/folders/14kSK_6jaPeBZg-utG7cD3PsLVzmpXXAZ?usp=sharing">
      <div class="card-header">
        <img src="../resources/img/ecen2270.png" height = "200px">
      </div>
      <div class="card-body">
        <h3>ECEN 2270 Lab Reports</h3>
        <p class="main">All reports written for experiments conducted in ECEN2270 - Electronics Design Lab. 
        </p>
      </div>
    </a>
    </div>


    <br><br>

  </div>

    <footer>
      <a href="href=https://www.linkedin.com/in/daniel-mccall-061458207">
      <img src="../resources/img/linkedin.png" alt="Linkedin Profile" height="40px">
      </a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>